.LongButtonContainer {
  width: 80%;
  display: flex;
  height: var(--button-height);
  margin: 0 auto;
  padding: 0px var(--spacing-sm);
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.LongButtonText {
  color: var(--font-color);
  font: 16px;
  font-weight: bold;
  cursor: pointer;
}

.LongButtonIcon {
  color: var(--font-color);
  margin-right: var(--spacing-sm);
}
