.SelectorTabIconContainer {
  display: flex;
  width: 100%;
  background-color: var(--neutral);
  color: var(--font-color);
  align-items: center;
  align-content: center;
  height: 32px;
  width: 100%;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-md);
}

.SelectorTabIndiactor {
  height: 100%;
  width: var(--spacing-xs);
  flex-shrink: 0;
  color: var(--neutral);
  margin-right: var(--spacing-sm);
}

.SelectorTabIconStyles {
  margin-right: var(--spacing-sm);
}

.Selected {
  background-color: var(--secondary);
}

.SelectorTabIconContainer:hover {
  background-color: var(--highlighted-ui);
}
