.AddAssetDialogWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}

.AddAssetDialogInnerWrapper {
  background-color: var(--neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-sm);
  flex: 1 1 auto;
  height: 100%;
}

.AddAssetDialogText {
  color: var(--font-color);
  font-size: 12px;
  flex-shrink: 0px;
  border: 1px solid black;
  border-left: 0px;
  justify-content: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: space-around;
  padding: var(--spacing-sm) var(--spacing-md);
  height: var(--spacing-lg);
  width: 100%;
}

.AddAssetDialogFileUploadWrapper {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 100%;
}

.AddAssetDialogImageContainer {
  border: 4px solid #333;
  box-shadow: inset 0 0 0 2px white;
  justify-self: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  border: 1px solid black;
  height: 128px;
  width: 128px;
}

.AddAssetDialogImg {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.AddAssetDialogPreviewText {
  color: var(--font-color);
  font-size: 12px;
  text-align: center;
}

.AddAssetDialogButtonRow {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-md);
}
