.SideBarContainer {
  display: flex;
  height: 100vh;
  position: relative;
  width: 400px;
  background-color: #8c1d18;
  transition: width 0.2 ease;
}

.collapsed {
  width: 60px;
}

.contents {
  flex: 1;
  padding: 10px;
}

.ToggleButton {
  padding-left: 5px;
  position: absolute;
  top: 50%;
  right: -32px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;

  cursor: pointer;
  background-color: white;

  border-top: 2px solid #d8c3a5;
  border-right: 2px solid #d8c3a5;
  border-bottom: 2px solid #d8c3a5;
  border-left: 0px;
}
