.SideBarContainer {
  display: flex;
  height: 100vh;
  position: relative;
  width: 400px;
  background-color: #8c1d18;
  transition: width 0.2 ease;
}

.collapsed {
  width: 60px;
}

.contents {
  flex: 1;
  padding: 10px;
}

.ToggleButton {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
