.Button {
  background-color: var(--container-background);
  font-size: 12px;
  height: 32px;
  width: 64px;
  color: white;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  flex-shrink: 0;
}

.Button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
