:global(*),
:global(::before),
:global(::after) {
  box-sizing: border-box;
}

:global(body),
:global(h1),
:global(h2),
:global(h3),
:global(h4),
:global(h5),
:global(h6),
:global(p) {
  margin: 0;
}

.MainViewContainer {
  display: flex;
  justify-content: row;
  flex: 1;
}

.CanvasWrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.Viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.World {
  position: relative;
  transform-origin: top left;
  width: 100%;
  height: 100%;
}
