.MainViewContainer {
  display: flex;
  justify-content: row;
  flex: 1;
}

.ViewContainer {
  display: flex;
  justify-content: column;
  width: 100%;
}

.CanvasContainer {
  background-color: #636363;
  height: 100%;
  width: 100%;
}
