.ClickableContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #c9a44c;
  background-color: #d8c3a5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transition:
    box-shadow 0.2s ease,
    transform 0.1s ease;
}

.ContentContainer {
  position: relative;
  display: flex;
  border-top: 0px;
  border-left: 2px solid #c9a44c;
  border-right: 2px solid #c9a44c;
  border-bottom: 2px solid #c9a44c;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #d8c3a5;
}

.ExpandableContainerButton {
  background-color: #d8c3a5;
}

.ExpandableContainerLabelWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}

.ExpanableContainerCounterWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
