.ParentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  cursor: pointer;
}

.ChildContainer {
  flex: 1;
}

.ExpandableContainerButton {
  height: 14px;
  width: 14px;
}
