.ClickableContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  border-radius: var(--spacing-xs);
  border: var(--spacing-border) solid var(--border-color);
  background-color: #d8c3a5;
  box-shadow: 0 var(--spacing-xs) 6px rgba(0, 0, 0, 0.15);
  transition:
    box-shadow 0.2s ease,
    transform 0.1s ease;
}

.ContentContainer {
  position: relative;
  display: flex;
  border-top: 0px;
  border-left: var(--spacing-border) solid var(--border-color);
  border-right: var(--spacing-border) solid var(--border-color);
  border-bottom: var(--spacing-border) solid var(--border-color);
  border-bottom-left-radius: var(--spacing-border);
  border-bottom-right-radius: var(--spacing-border);
  background-color: #d8c3a5;
}

.ExpandableContainerButton {
  background-color: #d8c3a5;
}

.ExpandableContainerLabelWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}

.ExpanableContainerCounterWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
