.IconButton {
  display: flex;
  border: 2px solid var(--secondary);
  height: var(--spacing-lg);
  width: 128px;
  justify-content: space-around;
  background-color: var(--surface);
  cursor: pointer;
  flex-shrink: 0;
}

.IconButtonContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm);
  font-size: 12px;
  gap: 8px;
}

.IconButtonText {
  margin-top: var(--spacing-xs);
  color: var(--secondary);
}

.FileUploadInput {
  display: none;
}
.IconButtonIcon {
  color: var(--secondary);
}
