.twoColumnLayout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
  justify-items: center;
  justify-content: center;
  padding: var(--spacing-sm);
}

.CampaignEditorSideBarContentsWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: var(--spacing-lg);
}
