.CampaignCreationDialogOuterWrapper {
  background-color: var(--neutral);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CampaignCreationTextContainer {
  padding: var(--spacing-lg) var(--spacing-md);
}

.CampaignCreationText {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.CampaignCreationInputContainer {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md);
}

.CampaignCreationInputLabel {
  font-weight: bold;
  font-size: 12px;
  font-family: var(--font-noto-seriff);
  color: var(--neutral-surface-text);
}

.CampaignCreationInputLabel::placeholder {
  color: var(--neutral-surface);
  opacity: 1;
}

.CampaignCreationInput {
  height: 32px;
  background-color: var(--neutral);
  color: var(--font-color);
  font-weight: bold;
  font-size: 12px;
}

.CampaignCreationSizeSelectorContainer {
  padding: var(--spacing-md);
}

.CampaignCreationDialogActionButtonRow {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
  padding: var(--spacing-lg) var(--spacing-md);
}
